:root {
  --sidebar-color: #4c6ef5;
  --books-container-color: #ffffff;
  --selected-card-color: rgb(124 107 143);
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(rgb(147 118 165), rgb(65 69 117));
  height: 100vh;
  /* align-content: center; */
}

/* Left Container */
.side-bar {
  display: flex;
  justify-self: center;
}

.side-bar-container {
  background-image: linear-gradient(rgb(156 132 176), rgb(94 95 139));
  border-radius: var(--border-radius);
  margin-left: 25px;
  height: 540px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-top: 20px;
}

button {
  align-self: center;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
}

#book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px;

  color: #fff;
}

.inp {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  font-size: 1rem;
  flex-direction: column;
  padding: 0 10px;
}

.inp > input {
  margin-bottom: 5px;
}

input {
  flex-grow: 0;
  align-self: flex-start;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: -1px 10px 10px 2px rgb(94 95 139);
  padding-left: 8px;
  font-size: 0.8rem;
}

.btn {
  display: flex;
  justify-content: center;
}

.fourth-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth-input > input {
  align-self: stretch;
  margin-left: 5px;
}

.library-svg {
  margin-top: 20px;
}

.logo {
  margin-top: 20px;
}

.library-container {
  display: grid;

  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
  overflow-y: scroll;

  gap: 20px;
  margin: 20px 20px;
}

/* Right Container */
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 20px;
  margin-top: 20px;

  color: #fff;
}

.card {
  box-shadow: 0px 2px 8px 0px #444;
  border-radius: var(--border-radius);
  background-color: #fff;
  color: rgb(73, 74, 113);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: clamp(0.5rem, 2.5vw, 1rem);
  font-weight: 600;
  flex: 0 0 auto;
  align-self: center;
}

.info {
  font-size: clamp(0.8rem, 2vw, 1rem);

  flex: 0 0 auto;
  font-size: 1rem;
}

.card > svg {
  flex: 0 0 auto;
}
