:root {
  --sidebar-color: #4c6ef5;
  --books-container-color: #ffffff;
  --selected-card-color: rgb(124 107 143);
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(rgb(147 118 165), rgb(65 69 117));
  height: 100vh;
}

.side-bar {
}

.side-bar-container {
  background-image: linear-gradient(rgb(156 132 176), rgb(94 95 139));
  border-radius: var(--border-radius);
  margin-left: 15px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

button {
  align-self: center;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
}

#book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inp {
  display: flex;
  justify-content: space-between;
}

input {
  flex: 0 1 auto;
}

.library-svg {
  margin-top: 20px;
}

.logo {
  margin-top: 20px;
}

.library-container {
  /* background-color: var(--books-container-color); */
  display: grid;
  grid-template-rows: repeat(2, min(200px, 50%));
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin: 20px 20px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  color: #fff;
}

.card {
  box-shadow: 0px 2px 8px 0px #444;
  border-radius: var(--border-radius);
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
}

.info {
  font-size: 1rem;
}
